<h2 id="title">Welcome to Ember (application.hbs)</h2>

Acá va &#123;&#123;main-nav title='my_title'&#125;&#125;

{{main-nav title='my_title'}}
{{#main-nav title='my_title_2'}}lo que quiera{{/main-nav}}

<strong>{{outlet}}</strong>
